* {
  margin: 0;
  padding: 0;
}

body {
  background-color:  hsl(0, 0%, 95%); 
  font-size: 15px;
}

main {
  width:1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
}

.sedan-content {
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
  box-sizing: border-box;
  border-radius: 5px 0% 0% 5px;
}

.sedan-content h3 {
  color: hsl(0, 0%, 95%);
  font-family: Big Shoulders Display;
  padding-bottom: 10px;
  font-weight: 700;
}

.sedan-content p {
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Lexend Deca;
  padding-bottom: 10px;
}

.sedan-content button{
  font-weight: 700;
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
  font-family: Lexend Deca;
  padding: 5px;
  border: none;
  border-radius: 12px;
}


.suv-content {
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
  box-sizing: border-box;
}

.suv-content h3 {
  color: hsl(0, 0%, 95%);
  font-family: Big Shoulders Display;
  padding-bottom: 10px;
  font-weight: 700;
}

.suv-content p {
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Lexend Deca;
  padding-bottom: 10px;
}

.suv-content button{
  font-weight: 700;
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
  font-family: Lexend Deca;
  padding: 5px;
  border: none;
  border-radius: 12px;
}

.luxury-content  {
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
  box-sizing: border-box;
  border-radius: 0% 5px 5px 0%;
}

.luxury-content h3 {
  color: hsl(0, 0%, 95%);
  font-family: Big Shoulders Display;
  padding-bottom: 10px;
  font-weight: 700;
}

.luxury-content p {
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: Lexend Deca;
  padding-bottom: 10px;
}

.luxury-content button{
  color:hsl(179, 100%, 13%);
  font-weight: 700;
  background-color: hsl(0, 0%, 95%);
  font-family: Lexend Deca;
  padding: 5px;
  border: none;
  border-radius: 12px;
}
